[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
click = "*"
typing = "*"
"jinja2" = "*"
"e1839a8" = {path = ".", editable = true}
"ruamel.yaml" = "*"
sphinx-rtd-theme = "*"

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
black = "==18.5b0"
coverage = "*"
pytest-cov = "*"
hypothesis = "*"
sphinx = "*"
sphinx-autobuild = "*"
