[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
"ruamel.yaml" = "*"
click = "*"
typing = "*"
"jinja2" = "*"

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
bumpversion = "*"
twine = "*"
black = "*"
