[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
experi = {path = ".", editable = true}

[dev-packages]
experi = {editable = true, path = ".", extras = ["docs", "dev"]}
